
{% load static %}

<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap" />
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="{% url 'about' %}" class="nav-link px-2 link-dark">About</a></li>
            </ul>

            <div class="dropdown text-end">
                {% if user.is_authenticated %}
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {{ user.email }}
                </a>
                <ul class="dropdown-menu text-small">
                    <li><a class="dropdown-item" href="{% url 'account_change_password' %}">Change password</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a>
                    </li>
                </ul>
                {% else %}
                <form class="form-inline ml-auto">
                    <a href="{% url 'account_login' %}" class="btn btn-outline-secondary">Log in</a>
                    <a href="{% url 'account_signup' %}" class="btn btn-primary ml-2">Sign up</a>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</header>
