{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}
            {% include 'particles/meta.html' %}
            {% block meta_extra %} {% endblock meta_extra %}
        {% endblock meta %}

        <title>
            {% block title %}
                CareGiGs | {% block title_extra %} {% endblock title_extra %}
            {% endblock title %}
        </title>
        {% block css %}
            {% include 'particles/css_links.html' %}
            {% block css_extra %} {% endblock css_extra %}
        {% endblock css %}
    </head>

    <body>
        {% include 'particles/navbar.html' %}

        <div class="container">
            {% block content %}
                <p>Something is wrong</p>
            {% endblock content %}
        </div>

        {% include 'particles/footer.html' %}

        {% block javascript %}
            {% include 'particles/js_links.html' %}
            {% block js_extra %} {% endblock js_extra %}
        {% endblock javascript %}

    </body>

</html>
